body{
  background-color: rgb(209, 209, 209);
}
*{
  padding: 0;
  margin: 0;
}
.container{
  display: flex;
  justify-content: flex-end; /* Mengatur agar konten berada di ujung kanan */
  width: 100%;
  height: 19vh;
  background-color: #284e95;
}
.box{
  width: fit-content;
  height: 100vh;
  background-color: #fff;
  position: relative;
  text-align: left;
  z-index: 1;
  opacity: 0;
  right: 0px; /* Mengubah ke 'right' untuk mengatur posisi ke kanan */
  pointer-events: none;
  transition: 0.3s;
}
.active_box{
  opacity: 1;
  right: 0px; /* Mengubah ke 'right' untuk mengatur posisi ke kanan */
  pointer-events: fill;
}
.menu_icon_box{
  z-index: 2;
  width: fit-content;
  height: auto;
  background-color: #fff;
  margin: 30px;
  position: absolute;
  border-radius: 4px;
  cursor: pointer;
}
.line1 , .line2 , .line3{
  width: 40px;
  height: 4px;
  margin: 10px 8px;
  background-color: #000;
  border-radius: 50px;
  transition: 0.2s;
}
.active .line1{
  transform: translate(0px , 15px)rotate(45deg);
}
.active .line2{
  opacity: 0;
}
.active .line3{
  transform: translate(0px , -15px)rotate(-45deg);
}
nav{
  padding-top: 100px;
}
nav ul{
  margin: 0px 30px;
}
nav ul li{
  list-style: none;
  margin-bottom: 30px;
  transition: 0.2s;
}
nav ul li:hover{
  background-color: #c6c6c66f;
  border-radius: 8px;
}
nav ul li a{
  color: #000;
  font-size: 28px;
  padding: 10px 30px;
  display: block;
  text-decoration: none;
}

img{
  margin-right: 450px;
  padding: 10px;
  height: 90px;
}

.img{
  margin-right: 89px;
  padding: 10px;
  height: 260px;
}

.div{
  margin-right: 316px;
  padding-top: 35px;
}

.wrapper{
  background-color: red;
  width: 100%;
  height: 1000PX;
}

.wrapper1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.parent {
  width: 70%;
  margin-top: 50px;
  height: 280px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5); */
  border-radius: 10px;
  margin-left: 93px;
}

.child{
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: all 1.1s;
}

.bg-one{
  color: red;
}

.bg-two{
  background-color: url(https://akcdn.detik.net.id/community/media/visual/2024/02/19/peresmian-rs-ppn-panglima-besar-soedirman_169.png)
}

.parent:hover .child{
  transition: scale(1.2);
}
.kotak{
  /* background-color: aqua; */
  width: 1366px;
  height: 492px;
}

.h1{
  font-size: 15px;
}

.h1kecil{
  font-size: 12px;
    margin-top: 8px;
}